@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="o-container">
    <h1>Original input text component</h1>
    <input type="text" id="the-id" placeholder="This is the placeholder" class="c-input" />

    <hr/>

    <h1>Our tag helper</h1>

    <smart-input-text id="the-id-of-the-tag-helpers" placeholder="This is the placeholder"></smart-input-text>
</div>