@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="o-container">
    <h1>Original input text component</h1>
    <input type="text" id="the-id" placeholder="This is the placeholder" class="c-input" />

    <hr />

    <h2 class="c-h2">Member registration</h2>
    <form method="post">
        @*First name*@
        <smart-input-text placeholder="What is your first name ?" asp-for="RegisterMemberRequest!.FirstName"></smart-input-text>
        <span asp-validation-for="RegisterMemberRequest!.FirstName" class="c-form-help-text--error"></span>

        @*Last name*@
        <smart-input-text placeholder="What is your last name ?" asp-for="RegisterMemberRequest!.LastName" class="u-spacer-top"></smart-input-text>
        <span asp-validation-for="RegisterMemberRequest!.LastName" class="c-form-help-text--error"></span>

        @*Validation for the request (i.e. checks if named John Doe)*@
        <span asp-validation-for="RegisterMemberRequest!" class="c-form-help-text--error"></span>

        <input type="number" asp-for="RegisterMemberRequest!.Age" placeholder="Your age?" class="u-spacer-top o-flex"/>
        <span asp-validation-for="RegisterMemberRequest!.Age" class="c-form-help-text--error o-flex"></span>

        <button class="u-spacer-top" type="submit">Click me to submit the form !!!</button>
    </form>
</div>